:root {
  --tabbar-width-colapsed: 1px;
  --tabbar-width-expanded: 250px;
  --transition-duration: 125ms;
  --viewport-corner-width: 0.5rem;
  --overall-corner-radius: 0.5rem;
}

#header {
  height: var(--viewport-corner-width) !important;
  min-height: var(--viewport-corner-width) !important;
  box-shadow: none !important;
  background-color: none !important;
  pointer-events: all !important;
  background-color: var(--colorBg) !important;
  transition: all var(--transition-duration) ease !important;
}
#header:hover {
  height: 2rem !important;
  min-height: 2rem !important;
}
#header:hover #pagetitle {
  opacity: 1;
}
#header #pagetitle {
  opacity: 0;
  background-color: var(--colorBg) !important;
  transition: all var(--transition-duration) ease !important;
}
#header #titlebar {
  pointer-events: all !important;
}
#header .vivaldi {
  top: -4px !important;
  left: -2px !important;
  height: 1rem !important;
  opacity: 0 !important;
  transition: all var(--transition-duration) ease !important;
}
#header .vivaldi:hover {
  opacity: 1 !important;
  height: 2rem !important;
}

.mainbar {
  border: none !important;
}

.window-buttongroup {
  overflow: hidden;
  height: var(--viewport-corner-width) !important;
  border-radius: 0 0 var(--overall-corner-radius) var(--overall-corner-radius);
  transition: all var(--transition-duration) ease !important;
}
.window-buttongroup button {
  opacity: 0;
  margin: 0 !important;
  height: 100% !important;
  transition: all var(--transition-duration) ease !important;
}
.window-buttongroup:hover {
  height: 2rem !important;
}
.window-buttongroup:hover button {
  opacity: 1;
}
.window-buttongroup .window-minimize {
  margin-left: 0 !important;
}

#webpage-stack {
  border-radius: var(--overall-corner-radius);
  margin: var(--viewport-corner-width);
  margin-top: 0rem;
  margin-left: 0rem;
}

#webview-container {
  background-color: var(--colorBg);
}

#panels-container {
  background-color: transparent !important;
  transition: all var(--transition-duration) ease !important;
}
#panels-container.switch {
  margin-left: 0;
}
#panels-container.icons {
  margin-left: calc(var(--viewport-corner-width) * -1);
  border-left: 0px solid transparent !important;
}
#panels-container.overlay {
  margin-left: calc(var(--viewport-corner-width) * -1);
}
#panels-container #switch {
  background-color: var(--colorBg) !important;
}
#panels-container .panel {
  background-color: hsl(from var(--colorBg) h s l/0.8);
  backdrop-filter: blur(12px);
}
#panels-container .panel-group {
  border: 0 solid transparent !important;
}

.tabbar-wrapper {
  width: var(--viewport-corner-width) !important;
  position: absolute;
  left: 0;
}
.tabbar-wrapper .tabbar-wrapper {
  width: var(--tabbar-width-colapsed) !important;
  z-index: 100 !important;
  transition: all var(--transition-duration) cubic-bezier(0.15, 0.5, 0.9, 1.2) !important;
}

#tabs-tabbar-container {
  width: var(--tabbar-width-colapsed) !important;
  background-color: hsl(from var(--colorBg) h s l/0.95) !important;
  backdrop-filter: blur(12px);
  overflow: hidden;
  border-radius: var(--overall-corner-radius);
  border: 1px solid transparent;
  margin-top: 0rem;
  margin-bottom: var(--viewport-corner-width);
  opacity: 0 !important;
  transition: all var(--transition-duration) cubic-bezier(0.15, 0.5, 0.9, 1.2) !important;
}
#tabs-tabbar-container:hover {
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  box-shadow: 0px 0px 0.5rem hsla(0, 0%, 0%, 0.5), 0px 0px 1rem hsla(0, 0%, 0%, 0.5);
  opacity: 1 !important;
}
#tabs-tabbar-container:hover .tabbar-wrapper .tabbar-wrapper {
  width: var(--tabbar-width-expanded) !important;
}

.tabbar-wrapper:hover #tabs-tabbar-container {
  width: var(--tabbar-width-expanded) !important;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  box-shadow: 0px 0px 0.5rem hsla(0, 0%, 0%, 0.5), 0px 0px 1rem hsla(0, 0%, 0%, 0.5);
  margin-left: var(--viewport-corner-width);
  opacity: 1 !important;
}

button.SlideBar.SlideBar--FullHeight {
  display: none !important;
}

.button-popup {
  z-index: 150 !important;
}

.resize {
  max-height: 100% !important;
  max-width: var(--tabbar-width-expanded) !important;
}
.resize .tab-strip {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}
.resize .tab-strip .tab-position {
  position: relative !important;
  height: 2.25rem !important;
  margin-bottom: -31px;
}
.resize .tab-strip .tab-position .tab-wrapper {
  max-height: 2.25rem !important;
}
.resize .tab-strip .tab-position .tab {
  height: 2.25rem !important;
  background-color: transparent;
  justify-content: center;
}
.resize .tab-strip .tab-position .tab:hover {
  background-color: hsl(from var(--colorBg) h s calc(l + 4));
}
.resize .tab-strip .tab-position .tab:hover button.close {
  opacity: 1 !important;
}
.resize .tab-strip .tab-position .tab:hover button.close:hover {
  background-color: hsl(from var(--colorBg) h s calc(l + 8)) !important;
}
.resize .tab-strip .tab-position .tab.active {
  background-color: hsl(from var(--colorBg) h s calc(l + 8)) !important;
}
.resize .tab-strip .tab-position .tab.active button.close {
  opacity: 1 !important;
}
.resize .tab-strip .tab-position .tab.active button.close:hover {
  background-color: hsl(from var(--colorBg) h s calc(l + 16)) !important;
}
.resize .tab-strip .tab-position .tab button.close {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  opacity: 0;
  background-color: transparent;
  transition: all var(--transition-duration) ease !important;
}

.UrlBar-AddressField.urlfield-anchor.button-textonly.below:focus-within {
  top: calc(50vh - 189px) !important;
  width: 50vh;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  background-color: var(--colorAccentBgFadedMore);
  outline-color: var(--colorAccentBgFadedMost);
  height: 3rem !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: var(--overall-corner-radius);
  box-shadow: 0 5px 16px 16px hsl(from black h s l/0.1), 0 5px 8px 8px hsl(from black h s l/0.2);
}
.UrlBar-AddressField.urlfield-anchor.button-textonly.below:focus-within .OmniDropdown {
  background-color: var(--colorAccentBgFadedMore);
  border: 2px solid var(--colorAccentBgFadedMost);
  border-radius: var(--overall-corner-radius);
  box-shadow: 0 5px 16px 16px hsl(from black h s l/0.1), 0 5px 8px 8px hsl(from black h s l/0.2);
}
.UrlBar-AddressField.urlfield-anchor.button-textonly.below:focus-within .OmniDropdown-Collection {
  padding-top: 16px;
}
.UrlBar-AddressField.urlfield-anchor.button-textonly.below:focus-within .OmniDropdown .OmniLinkItem:not(.UrlBar-AddressField.urlfield-anchor.button-textonly.below:focus-within .OmniDropdown .OmniLinkItem--Highlighted):hover {
  background-color: var(--colorAccentBgFadedMost);
}

/*# sourceMappingURL=vivaldi.css.map */
