:root {
  --tabbar-width-colapsed: 1px;
  --tabbar-width-expanded: 250px;

  --transition-duration: 125ms;

  --viewport-corner-width: 0.5rem;
  --overall-corner-radius: 0.5rem;
}
// sass variables
$tabbar-width-colapsed: var(--tabbar-width-colapsed);
$tabbar-width-expanded: var(--tabbar-width-expanded);
$transition-duration: var(--transition-duration);
$transition-ease: all var(--transition-duration) ease !important;
$transition-bezier: all var(--transition-duration) cubic-bezier(0.15, 0.5, 0.9, 1.2) !important;
$viewport-corner-width: var(--viewport-corner-width);
$overall-corner-radius: var(--overall-corner-radius);

// ---------- Top Bars ----------
#header {
  height: $viewport-corner-width !important;
  min-height: $viewport-corner-width !important;
  box-shadow: none !important;
  background-color: none !important;
  pointer-events: all !important;
  background-color: var(--colorBg) !important;

  transition: $transition-ease;

  &:hover {
    height: 2rem !important;
    min-height: 2rem !important;
    #pagetitle {
      opacity: 1;
    }
  }

  #pagetitle {
    opacity: 0;
    background-color: var(--colorBg) !important;
    transition: $transition-ease;
  }
  #titlebar {
    pointer-events: all !important;
  }
  .vivaldi {
    top: -4px !important;
    left: -2px !important;
    height: 1rem !important;
    opacity: 0 !important;
    transition: $transition-ease;

    &:hover {
      opacity: 1 !important;
      height: 2rem !important;
    }
  }
}
.mainbar {
  border: none !important;
}
.window-buttongroup {
  overflow: hidden;
  height: $viewport-corner-width !important;
  border-radius: 0 0 $overall-corner-radius $overall-corner-radius;
  transition: $transition-ease;

  button {
    opacity: 0;
    margin: 0 !important;
    height: 100% !important;
    transition: $transition-ease;
  }

  &:hover {
    height: 2rem !important;

    button {
      opacity: 1;
    }
  }

  .window-minimize {
    margin-left: 0 !important;
  }
}

// ---------- Viewport ----------
#webpage-stack {
  border-radius: $overall-corner-radius;
  margin: $viewport-corner-width;
  margin-top: 0rem;
  margin-left: 0rem;
}
#webview-container {
  background-color: var(--colorBg);
}

// ---------- Side Panel ----------
#panels-container {
  background-color: transparent !important;
  transition: $transition-ease;

  &.switch {
    margin-left: 0;
  }
  &.icons {
    margin-left: calc($viewport-corner-width * (-1));
    border-left: 0px solid transparent !important;
  }
  &.overlay {
    margin-left: calc($viewport-corner-width * (-1));
  }

  #switch {
    background-color: var(--colorBg) !important;
  }

  .panel {
    background-color: hsl(from var(--colorBg) h s l / 0.8);
    backdrop-filter: blur(12px);

    &-group {
      border: 0 solid transparent !important;
    }
  }
}

// ---------- Tabs Bar ----------
.tabbar-wrapper {
  width: $viewport-corner-width !important;
  position: absolute;
  left: 0;

  .tabbar-wrapper {
    width: $tabbar-width-colapsed !important;

    z-index: 100 !important;
    transition: $transition-bezier;
  }
}
#tabs-tabbar-container {
  width: $tabbar-width-colapsed !important;
  background-color: hsl(from var(--colorBg) h s l / 0.95) !important;
  backdrop-filter: blur(12px);
  overflow: hidden;
  border-radius: $overall-corner-radius;
  border: 1px solid transparent;
  margin-top: 0rem;
  margin-bottom: $viewport-corner-width;
  opacity: 0 !important;
  transition: $transition-bezier;

  &:hover {
    border: 1px solid hsl(0deg 0% 100% / 10%);
    box-shadow: 0px 0px 0.5rem hsl(0deg 0% 0% / 50%), 0px 0px 1rem hsl(0deg 0% 0% / 50%);
    opacity: 1 !important;

    .tabbar-wrapper {
      .tabbar-wrapper {
        width: $tabbar-width-expanded !important;
      }
    }
  }
}

.tabbar-wrapper:hover {
  #tabs-tabbar-container {
    width: $tabbar-width-expanded !important;
    border: 1px solid hsl(0deg 0% 100% / 10%);
    box-shadow: 0px 0px 0.5rem hsl(0deg 0% 0% / 50%), 0px 0px 1rem hsl(0deg 0% 0% / 50%);
    margin-left: $viewport-corner-width;
    opacity: 1 !important;
  }
}

button.SlideBar.SlideBar--FullHeight {
  display: none !important;
}
.button-popup {
  z-index: 150 !important;
}

// Tabs itself
.resize {
  max-height: 100% !important;
  max-width: $tabbar-width-expanded !important;

  .tab-strip {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;

    .tab-position {
      position: relative !important;
      height: 2.25rem !important;
      margin-bottom: -31px;

      .tab-wrapper {
        max-height: 2.25rem !important;
      }

      .tab {
        height: 2.25rem !important;
        background-color: transparent;
        justify-content: center;

        &:hover {
          background-color: hsl(from var(--colorBg) h s calc(l + 4));

          button.close {
            opacity: 1 !important;

            &:hover {
              background-color: hsl(from var(--colorBg) h s calc(l + 8)) !important;
            }
          }
        }

        &.active {
          background-color: hsl(from var(--colorBg) h s calc(l + 8)) !important;

          button.close {
            opacity: 1 !important;

            &:hover {
              background-color: hsl(from var(--colorBg) h s calc(l + 16)) !important;
            }
          }
        }

        button.close {
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          opacity: 0;
          background-color: transparent;
          transition: $transition-ease;
        }
      }
    }
  }
}

// ---------- Search ----------
.UrlBar-AddressField.urlfield-anchor.button-textonly.below:focus-within {
  top: calc(50vh - 378px / 2) !important;
  width: 50vh;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  background-color: var(--colorAccentBgFadedMore);
  outline-color: var(--colorAccentBgFadedMost);
  height: 3rem !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: $overall-corner-radius;
  box-shadow: 0 5px 16px 16px hsl(from black h s l / 0.1), 0 5px 8px 8px hsl(from black h s l / 0.2);

  .OmniDropdown {
    background-color: var(--colorAccentBgFadedMore);
    border: 2px solid var(--colorAccentBgFadedMost);
    border-radius: $overall-corner-radius;
    box-shadow: 0 5px 16px 16px hsl(from black h s l / 0.1), 0 5px 8px 8px hsl(from black h s l / 0.2);

    &-Collection {
      padding-top: 16px;
    }

    .OmniLinkItem {
      &:not(&--Highlighted):hover {
        background-color: var(--colorAccentBgFadedMost);
      }
    }
  }
}
