$tabbar-width-colapsed: var(--tabbar-width-colapsed);
$tabbar-width-expanded: var(--tabbar-width-expanded);
$transition-duration: var(--transition-duration);
$transition-ease: all var(--transition-duration) ease !important;
$transition-bezier: all var(--transition-duration) cubic-bezier(0.15, 0.5, 0.9, 1.2) !important;
$viewport-corner-width: var(--viewport-corner-width);
$overall-corner-radius: var(--overall-corner-radius);

:root {
  --tabbar-width-colapsed: 1px;
  --tabbar-width-expanded: 250px;

  --transition-duration: 125ms;

  --viewport-corner-width: 0.5rem;
  --overall-corner-radius: 0.5rem;
}

/* ---------- Top Bars ---------- */
#header {
  background-color: none !important;
  background-color: var(--colorBg) !important;
  box-shadow: none !important;
  height: $viewport-corner-width !important;
  min-height: $viewport-corner-width !important;
  pointer-events: all !important;

  transition: $transition-ease;

  &:hover {
    height: 2rem !important;
    min-height: 2rem !important;
    #pagetitle {
      opacity: 1;
    }
  }

  #pagetitle {
    background-color: var(--colorBg) !important;
    opacity: 0;
    transition: $transition-ease;
  }
  #titlebar {
    pointer-events: all !important;
  }
  .vivaldi {
    height: 1rem !important;
    left: -2px !important;
    opacity: 0 !important;
    top: -4px !important;
    transition: $transition-ease;

    &:hover {
      height: 2rem !important;
      opacity: 1 !important;
    }
  }
}
.mainbar {
  border: none !important;
}
.window-buttongroup {
  border-radius: 0;
  height: $viewport-corner-width !important;
  overflow: hidden;
  transition: $transition-ease;

  button {
    height: 100% !important;
    margin: 0 !important;
    opacity: 0;
    transition: $transition-ease;
  }

  &:hover {
    height: 2rem !important;

    button {
      opacity: 1;
    }
  }

  .window-minimize {
    margin-left: 0 !important;
  }
}

/* ---------- Viewport ---------- */
#webpage-stack {
  border-radius: $overall-corner-radius;
  margin: $viewport-corner-width;
  margin-left: 0rem;
  margin-top: 0rem;
}
#webview-container {
  background-color: var(--colorBg);
}

/* ---------- Side Panel ---------- */
#panels-container {
  background-color: transparent !important;
  transition: $transition-ease;

  &.switch {
    margin-left: 0;
  }
  &.icons {
    border-left: 0px solid transparent !important;
    margin-left: calc($viewport-corner-width * (-1));
  }
  &.overlay {
    margin-left: calc($viewport-corner-width * (-1));
  }

  #switch {
    background-color: var(--colorBg) !important;
  }

  .button-toolbar {
    button:hover {
      background-color: hsl(from var(--colorBg) h s 80 / 0.05);
    }
  }
  .panel {
    backdrop-filter: blur(12px);
    background-color: hsl(from var(--colorBg) h s l / 0.8);

    &-group {
      border: 0 solid transparent !important;
    }
  }
}

/* ---------- Tabs Bar ---------- */
.tabbar-wrapper {
  left: 0;
  position: absolute;
  width: $viewport-corner-width !important;

  .tabbar-wrapper {
    transition: $transition-bezier;
    width: $tabbar-width-colapsed !important;

    z-index: 100 !important;
  }
}
#tabs-tabbar-container {
  backdrop-filter: blur(12px);
  background-color: hsl(from var(--colorBg) h s l / 0.92) !important;
  border: 1px solid transparent;
  border-radius: $overall-corner-radius;
  margin-bottom: $viewport-corner-width;
  margin-top: 0rem;
  opacity: 0 !important;
  overflow: hidden;
  transition: $transition-bezier;
  width: $tabbar-width-colapsed !important;

  .button-toolbar {
    background-color: transparent !important;
  }

  &:hover {
    border: 1px solid hsl(0deg 0% 100% / 10%);
    box-shadow: 0px 0px 0.5rem hsl(0deg 0% 0% / 50%), 0px 0px 1rem hsl(0deg 0% 0% / 50%);
    opacity: 1 !important;

    .tabbar-wrapper {
      .tabbar-wrapper {
        width: $tabbar-width-expanded !important;
      }
    }
  }
}

.tabbar-wrapper:hover {
  #tabs-tabbar-container {
    border: 1px solid hsl(0deg 0% 100% / 10%);
    box-shadow: 0px 0px 0.5rem hsl(0deg 0% 0% / 50%), 0px 0px 1rem hsl(0deg 0% 0% / 50%);
    margin-left: $viewport-corner-width;
    opacity: 1 !important;
    width: $tabbar-width-expanded !important;
  }
}

button.SlideBar.SlideBar--FullHeight {
  display: none !important;
}
.button-popup {
  z-index: 150 !important;
}

/* Tabs itself */
.resize {
  max-height: 100% !important;
  max-width: $tabbar-width-expanded !important;

  .tab-strip {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2px;
    justify-content: flex-start;

    .tab-position {
      height: 2.25rem !important;
      margin-bottom: -31px;
      position: relative !important;

      .tab-wrapper {
        max-height: 2.25rem !important;
      }

      .tab {
        background-color: transparent;
        height: 2.25rem !important;
        justify-content: center;

        &:hover {
          background-color: hsl(from var(--colorBg) h s 80 / 0.05);

          button.close {
            opacity: 1 !important;

            &:hover {
              background-color: hsl(from var(--colorBg) h s 80 / 0.05) !important;
            }
          }
        }

        &.active {
          background-color: hsl(from var(--colorBg) h s 80 / 0.1) !important;

          button.close {
            opacity: 1 !important;

            &:hover {
              background-color: hsl(from var(--colorBg) h s 80 / 0.1) !important;
            }
          }
        }

        button.close {
          background-color: transparent;
          display: flex;
          height: 1.5rem;
          opacity: 0;
          transition: $transition-ease;
          width: 1.5rem;
        }
      }
    }
  }
}

/* ---------- Search ---------- */
#browser {
  &.address-top-off {
    .UrlBar-AddressField.urlfield-anchor.button-textonly.below:focus-within {
      align-items: center;
      background-color: var(--colorAccentBgFadedMore);
      border-radius: $overall-corner-radius;
      box-shadow: 0 5px 16px 16px hsl(from black h s l / 0.1), 0 5px 8px 8px hsl(from black h s l / 0.2);
      display: flex;
      flex-direction: row;
      height: 3rem !important;
      left: 50%;
      margin: 0;
      max-width: 630px;
      outline-color: var(--colorAccentBgFadedMost);
      top: calc(50vh - 378px / 2) !important;
      transform: translateX(-50%);
      width: 200%;

      .OmniDropdown {
        background-color: var(--colorAccentBgFadedMore);
        border: 2px solid var(--colorAccentBgFadedMost);
        border-radius: $overall-corner-radius;
        box-shadow: 0 5px 16px 16px hsl(from black h s l / 0.1), 0 5px 8px 8px hsl(from black h s l / 0.2);

        &-Collection {
          padding-top: 16px;
        }

        .OmniLinkItem {
          &:not(&--Highlighted):hover {
            background-color: var(--colorAccentBgFadedMost);
          }
        }
      }
    }
  }

  &:is(.popup, .is-settingspage):not(.fullscreen, .disable-titlebar) {
    #header {
      height: 2rem !important;

      .window-buttongroup {
        height: 2rem !important;

        button {
          height: 100% !important;
          margin: 0 !important;
          opacity: 1;
          transition: $transition-ease;
        }
      }
    }
    .vivaldi-settings {
      .settings-sidebar {
        box-shadow: none !important;

        .button-category {
          &:not(.category-selected) {
            &:hover {
              background-color: hsl(from var(--colorBg) h s calc(l + 4)) !important;
            }
          }

          &.category-selected {
            background-color: var(--colorHighlightBg) !important;
            color: var(--colorBg) !important;
            fill: var(--colorBg) !important;
            stroke: var(--colorBg) !important;
          }
        }
      }

      .settings-content {
        border: 0.5rem solid var(--colorBg);
        border-radius: 1.5rem;
        border-right: none;
      }
    }
  }
}
